<!doctype html>
<html>
<head>
    <title>Welcome to CryptoApp</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
    
     <style>
        
         body{
    background: url(https://vladimirribakov.com/wp-content/uploads/Crypt-696x390.jpg);
    background-size:100% 100%;
    
    
    </style>
<div class="container">

    <div class="jumbotron text-center">
        <h1> Welcome to CryptoApp</h1>
        <style>
        
        h1 {
            font-family: 'Ubuntu', sans-serif

        }
          body {
            
          font-family: 'Ubuntu', sans-serif;
          opacity: .5
          color:white;
          }
            
            
        </style>

        <p>Please Login or Register:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Register</a>
        <!--<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>-->
        <!--<a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>-->
        <!--<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>-->
    </div>

       <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Continue as a Guest</a>

</div>
</body>
</html>
