@import url('https://fonts.googleapis.com/css?family=Contrail+One|Dhurjati|Megrim|Montserrat+Subrayada|Supermercado+One');

#logo {
  /*font-family: 'Dhurjati', sans-serif;*/
  font-size: x-large;

/*font-family: 'Supermercado One', cursive;*/
/*font-family: 'Contrail One', cursive;*/
/*font-family: 'Megrim', cursive;*/
  font-family: 'Montserrat Subrayada', sans-serif;
  color: lightgreen;
}

#tabs {
    /*font-family: 'Dhurjati', sans-serif;*/
    font-family: 'Contrail One', cursive;
    font-size: larger;
    color: white;

}

#conversion {
    font-family: 'Contrail One', cursive;
    font-size: larger;
        color: white;

}

#charts {
    font-family: 'Contrail One', cursive;
    font-size: x-large;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 100px;
}

.App-header {
  font-family: 'Dhurjati', sans-serif;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*chat CSS*/
body{
  background:#f9f9f9;
  }
#container{
  width:700px;
  /*height:auto;*/
  margin:0 auto;
  }
#chatWindow{
  height: 300px;
  word-wrap: break-word;
  overflow-y: scroll;
  width:350px;
  }
#mainWrapper{
  display:none;
  }
#chatWrapper{
  float:left;
  border:1px #ccc solid;
  border-radius: 10px;
  background: #f4f4f4;
  padding:10px;
  }
#userWrapper{
  float:left;
  border:1px #ccc solid;
  border-radius: 10px; /*rounds edges*/
  background: #f4f4f4;
  padding:10px;
  margin-left: 20px;
  width: 150px;
  max-height: 200px;
  }
#namesWrapper{
  float:left;
  border: 1px #ccc solid;
  border-radius: 10px;
  background: #f4f4f4;
  padding:10px;
  margin-left:20px;
  /*display:none;*/
  }
  
#chartWrapper{
  padding: 10px;
  margin: 10px;
}
input{
  height: 30px;
  border:solid 1px #ccc;
  border-radius: 5px;
  }
  
.nuts{
color:white;
}
option{
  color:black;
}
select{
  color:black;
}
/*chart css*/
#price-chart-change {
  margin-top: 80px;
}